* {
  box-sizing: border-box;
}

:root {
  --color-navy: #0a192f;
  --color-green: #64ffda;
  --color-white: #e6f1ff;
  --navbar-height: 60px;
  --colof-lightest-navy: #233554;
  --colof-light-navy: #112240;
}

body {
  background-color: var(--color-navy);
  margin: 0;
  height: 200vh;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.3em;
}

header {
  height: 100vh;
}

.section {
  padding: 5%;
  /* border: 5px solid pink; */
}

.header__nav {
  height: var(--navbar-height);
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px 0px #071120;
}
/* 
.header__logo-square {
  background-color: rgb(255, 0, 0);
} */

.ul__header {
  display: flex;
}

.ul__header li {
  padding: 0 1rem;
}

/* 
.header__buttons .btn {
  margin-left: 1.5em;
} */

/* .header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.header__hero {
  display: grid;
  grid-template-columns: minmax(300px, 40%) minmax(300px, 1fr);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 5%;
  height: calc(100vh - var(--navbar-height));
}

/* .hero__greeting {
  font-size: 1rem;
} */

.hero__message {
  /* background-color: #0000ff50; */
}

.hero__name {
  margin: 0;
  font-size: 4rem;
}

.hero__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* .header__hero svg {
  transform: rotate(-10deg);
  max-height: 100%;
  margin: 0 auto;
  position: relative;
  top: -40px;
  left: 5%;
} */

.header__big-logo-container {
  /* background-color: red;
  border: 10px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__hero svg {
  max-width: 90%;
  /* background-color: #ffff0040; */
  min-width: 250px;
}

.btn.hero__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
  padding: 0.5em 0.5em;
}

.btn.hero__button img {
  width: 20px;
  fill: var(--color-green);
}

main {
  padding: 1rem;
}

.section__intro {
  /* margin: 3rem 0 0 0; */
  margin: 0;
}
.section__tittle {
  margin-bottom: 0.5em;
}

.project__section {
  margin: 0 auto;
  width: 80%;
  background-color: var(--colof-light-navy);
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0px 10px 10px 0px #071120;
}

.project__stack {
  margin-top: -1em;
  margin-bottom: 1em;
}

.project__stack span {
  display: inline-block;
  background-color: #64ffda50;
  color: var(--color-white);
  padding: 0.3em;
  margin: 0.2em 0.3em;
  text-align: center;
  min-width: 5.5em;
  font-size: 0.75rem;
}

.project__text .btn {
  border-radius: 0.1em;
  min-width: 7em;
  margin-right: 0.5em;
  margin-top: 2em;
}

.project__video-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  align-self: center;
}

.project__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section.about-me {
  /* height: 100vh; */
}

.about-me__content {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1rem;
}

#dog {
  display: inline;

  fill: red;
}

.about-me__arrow {
  align-self: flex-start;
}

.about-me__arrow svg {
  width: 100%;
  height: 60%;
}

.about-me__profile {
  color: var(--color-green);
  margin-top: 2em;
}

.about-me__description {
  line-height: 2;
}

.about-me__description .about-me__dog {
  width: 30px;
}

.about-me__skills svg {
  width: 50px;
  height: 50px;
  fill: #64ffda50;
}

.about-me__skills {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 3rem auto;
  /* border: 5px solid pink; */
}

.about-me__skills .skill-name {
  font-size: 0.7rem;
  text-align: center;
  color: var(--color-white);
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-items: center;
}

.section.contact {
  /* height: 90vh; */
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__text {
  margin: 3rem;
  text-align: center;
}

.contact__coffe-mug-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__coffe-mug {
  width: 50%;
}

.footer {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.footer__text {
  font-size: 0.7rem;
  color: var(--color-white);
  line-height: 1.5;
}

.footer__contact img {
  width: 30px;
  margin: 0 0.5rem;
}

@media (max-width: 600px) {
  .project__section {
    background-color: var(--colof-light-navy);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    padding: 0.5rem;
  }
}
