:root {
  --color-navy: #0a192f;
  --color-green: #64ffda;
  --color-white: #e6f1ff;
  --navbar-height: 60px;
}

body {
  background-color: var(--color-navy);
  margin: 0;
  height: 200vh;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  padding: 0.5em 1em;
  cursor: pointer;
}

header {
  height: 100vh;
  background-color: #64ffda20;
}

.section {
  padding: 0 3rem;
}

.header__nav {
  height: var(--navbar-height);
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px 0px #071120;
}

.header__logo-square {
  background-color: black;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul__header {
  display: flex;
}

.ul__header li {
  padding: 0 1rem;
}

.header__buttons .btn {
  margin-left: 1.5em;
}

.header__hero {
  display: grid;
  grid-template-columns: 40% 1fr;
  background-color: rgba(255, 0, 0, 0.3);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 5%;
  height: calc(100vh - var(--navbar-height));
}

.header__hero svg {
  /* background-color: yellow; */
  transform: rotate(-10deg);
  max-height: 100%;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
